{% extends 'menu.html' %}
{% load django_bootstrap5 %}

{% block title %}Liste des Collections {% endblock %}

{% block content %}


   
    <table border="1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date de Création</th>
                <th>Plus de Détails</th>
            </tr>
        </thead>
        <tbody>
            {% for collec in collection %}
                <tr>
                    <td>{{ collec.title }}</td>
                    <td>{{ collec.date }}</td>
                    <td><a href="{% url 'collection_detail' collec.id %}">Voir les détails de la collection</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
