{% extends 'menu.html' %}
{% load django_bootstrap5 %}

{% block title %}Ajouter une nouvelle collection{% endblock %}

{% block content %}

        
         <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}


                
            
            <button type="submit">Ajouter</button>
          <h3> <a href ="{% url 'all' %}">Retour a la liste des collections </a></h3> 
                </form>
         </form>
        
         {% endblock %}